<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New Course</title>
</head>
<body>
  <h1>Add New Course</h1>
  <div>
    <form th:action="@{/syl/saveCourse}" method=post>

      <div>
        <label for="courseCode">Course Code</label>
        <input type="text" class="" id="courseCode" th:field="${courseEditForm.courseCode}">
      </div>
      <br>

      <div>
        <label for="courseTitle">Course Title</label>
        <input type="text" class="" id="courseTitle" th:field="${courseEditForm.courseTitle}">
      </div>
      <br>

      <div>
        <label for="courseType">Course Type</label>
        <input type="text" class="" id="courseType" th:field="${courseEditForm.courseType}">
      </div>
      <br>

      <div>
        <label for="courseCredit">Course Credit</label>
        <input type="text" class="" id="courseCredit" th:field="${courseEditForm.courseCredit}">
      </div>
      <br>

      <div>
        <label for="rational">Rational</label>
        <input type="text" class="" id="rational" th:field="${courseEditForm.rational}">
      </div>
      <br>

      <div>
        <table th:object="${courseEditForm.courseObjectives}">
          <thead>
            <tr>
              <th> Objectives</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="courseObj, itemStat : *{courseObjective}">
              <td>
                <input th:field="*{courseObjective[__${itemStat.index}__].objective}" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br><br>




      <div>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
      </div>
    </form>

    <form>
      <!--<fieldset>
        <table>
          <thead>
          <tr>
            <th>Objectives</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="courseObjective, itemStat : *{courseObjectives}">
            <td>
              <input type="text" th:field="*{courseObjectives[__${itemStat.index}__].objective}" />
            </td>
          </tr>
          </tbody>
        </table>
        <input type="submit" th:value="submit">
        <input type="reset" th:value="reset">
      </fieldset>-->

      <!--<fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
          <thead>
            <tr><th> Objectives</th></tr>
          </thead>
          <tbody>
            <tr th:each="courseObj, itemStat : *{courseObjective}">
              <td><input th:field="*{courseObjective[__${itemStat.index}__].objective}" /></td>
            </tr>
          </tbody>
        </table>
      </fieldset>-->

      <!--<fieldset>
      <input type="submit" id="submitButton" th:value="Save">
      <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
      <table>
        <thead>
        <tr><th> Objectives</th></tr>
        </thead>
        <tbody>
        <tr th:each="courseObjective : ${courseObjectiveList}">
          <td>
            <input type="text" th:field="${courseObjective.objective}" />
          </td>
        </tr>
        </tbody>
      </table>
      </fieldset>-->

    </form>


  </div>
</body>
</html>