<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New Syllabus</title>
</head>
<body>
  <div>
    <form th:action="@{/syl/editSyl}" method="post" th:object="${syllabusForm}">
      <div>
        <label for="category">Category</label>
        <select id="category" th:field="${syllabusForm.category}">
          <option th:value="Undergrad">Undergrad</option>
          <option th:value="Masters">Masters</option>
          <option th:value="Phd">Phd</option>
          <option th:value="MPhil">MPhil</option>
          <option th:value="PMSCS">PMSCS</option>
        </select>
      </div>

      <div>
        <label for="from">Effective From</label>
        <select id="from" th:field="${syllabusForm.effictiveFrom}">
          <option th:value="2001">2001</option>
          <option th:value="2002">2002</option>
          <option th:value="2003">2003</option>
          <option th:value="2004">2004</option>
          <option th:value="2005">2005</option>
          <option th:value="2006">2006</option>
          <option th:value="2007">2007</option>
          <option th:value="2008">2008</option>
          <option th:value="2009">2009</option>
          <option th:value="2010">2010</option>
          <option th:value="2011">2011</option>
          <option th:value="2012">2012</option>
          <option th:value="2013">2013</option>
          <option th:value="2014">2014</option>
          <option th:value="2015">2015</option>
          <option th:value="2016">2016</option>
          <option th:value="2017">2017</option>
          <option th:value="2018">2018</option>
          <option th:value="2019">2019</option>
          <option th:value="2020">2020</option>
          <option th:value="2021">2021</option>
          <option th:value="2022">2022</option>
          <option th:value="2023">2023</option>
          <option th:value="2024">2024</option>
          <option th:value="2025">2025</option>
          <option th:value="2026">2026</option>
          <option th:value="2027">2027</option>
          <option th:value="2028">2028</option>
          <option th:value="2029">2029</option>
          <option th:value="2030">2030</option>
        </select>
      </div>
      <br>

      <div>
        <label for="to">Effective To</label>
        <select id="to" th:field="${syllabusForm.effictiveTo}">
          <option th:value="2001">2001</option>
          <option th:value="2002">2002</option>
          <option th:value="2003">2003</option>
          <option th:value="2004">2004</option>
          <option th:value="2005">2005</option>
          <option th:value="2006">2006</option>
          <option th:value="2007">2007</option>
          <option th:value="2008">2008</option>
          <option th:value="2009">2009</option>
          <option th:value="2010">2010</option>
          <option th:value="2011">2011</option>
          <option th:value="2012">2012</option>
          <option th:value="2013">2013</option>
          <option th:value="2014">2014</option>
          <option th:value="2015">2015</option>
          <option th:value="2016">2016</option>
          <option th:value="2017">2017</option>
          <option th:value="2018">2018</option>
          <option th:value="2019">2019</option>
          <option th:value="2020">2020</option>
          <option th:value="2021">2021</option>
          <option th:value="2022">2022</option>
          <option th:value="2023">2023</option>
          <option th:value="2024">2024</option>
          <option th:value="2025">2025</option>
          <option th:value="2026">2026</option>
          <option th:value="2027">2027</option>
          <option th:value="2028">2028</option>
          <option th:value="2029">2029</option>
          <option th:value="2030">2030</option>
        </select>
      </div>
      <br>

      <div>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
      </div>
    </form>
  </div>
</body>
</html>