<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>Search Syllabus</title>

    <link th:href="@{/Asset/dist/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/Asset/css/font-awesome.css}" rel="stylesheet">

    <link th:href="@{/Asset/css/style.css}" rel="stylesheet">

</head>
<body>
<div class="container-fluid" id="wrapper">
    <div class="row">
        <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
            <h1 class="site-title"><a href="index.html"><em class="fa fa-rocket"></em>Welcome</a></h1>

            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
            <ul class="nav nav-pills flex-column sidebar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{'/teacher/login/' + ${user.email}}"><em class="fa fa-dashboard"></em>
                    Dashboard</a></li>
            </ul>

            <a th:href="@{/login}" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>
        <main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
            <header class="page-header row justify-center">
                <div class="col-md-6 col-lg-8">
                    <h1 class="float-left text-center text-md-left">Search Syllabus</h1>
                </div>
                <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a
                    class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img th:src="@{/Asset/images/profilePic.png}" alt="profile photo"
                         class="circle float-left profile-photo" width="50" height="auto">
                    <div class="username mt-1">
                        <h4 class="mb-1" th:text="${teacher.fullName}"></h4>
                    </div>
                </a>
                    <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;"
                         aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href="#"><em
                        class="fa fa-user-circle mr-1"></em> View Profile</a>
                        <a class="dropdown-item" th:href="@{/login}"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
                </div>
                <div class="clear"></div>
            </header>
            <section class="row">
                <div class="col-sm-12">
                    <section class="row">
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <h4 th:text="${message} != 'error' ? 'Search Syllabus' : 'Invalid input or syllabus does not exist, try again'"></h4>
                                    <form class="form" th:action="@{'/syl/viewSyll/' + ${user.email}}" method="post">
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="category">Category</label>
                                            <div class="col-md-9">
                                                <select class="custom-select form-control" id="category" th:field="${syllabusQuery.category}">
                                                    <option th:value="Undergrad">Undergrad</option>
                                                    <option th:value="Masters">Masters</option>
                                                    <option th:value="Phd">Phd</option>
                                                    <option th:value="MPhil">MPhil</option>
                                                    <option th:value="PMSCS">PMSCS</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="session">Session</label>
                                            <div class="col-md-9">
                                                <select class="custom-select form-control" id="session" th:field="${syllabusQuery.session}">
                                                    <option th:value="200102">2001-02</option>
                                                    <option th:value="200203">2002-03</option>
                                                    <option th:value="200304">2003-04</option>
                                                    <option th:value="200405">2004-05</option>
                                                    <option th:value="200506">2005-06</option>
                                                    <option th:value="200607">2006-07</option>
                                                    <option th:value="200708">2007-08</option>
                                                    <option th:value="200809">2008-09</option>
                                                    <option th:value="200910">2009-10</option>
                                                    <option th:value="201011">2010-11</option>
                                                    <option th:value="201112">2011-12</option>
                                                    <option th:value="201213">2012-13</option>
                                                    <option th:value="201314">2013-14</option>
                                                    <option th:value="201415">2014-15</option>
                                                    <option th:value="201516">2015-16</option>
                                                    <option th:value="201617">2016-17</option>
                                                    <option th:value="201718">2017-18</option>
                                                    <option th:value="201819">2018-19</option>
                                                    <option th:value="201920">2019-20</option>
                                                    <option th:value="202021">2020-21</option>
                                                    <option th:value="202122">2021-22</option>
                                                    <option th:value="202223">2022-23</option>
                                                    <option th:value="202324">2023-24</option>
                                                    <option th:value="202425">2024-25</option>
                                                    <option th:value="202526">2025-26</option>
                                                    <option th:value="202627">2026-27</option>
                                                    <option th:value="202728">2027-28</option>
                                                    <option th:value="202829">2028-29</option>
                                                    <option th:value="202930">2029-30</option>
                                                    <option th:value="203031">2030-31</option>
                                                    <option th:value="203132">2031-32</option>
                                                    <option th:value="203233">2032-33</option>
                                                    <option th:value="203334">2033-34</option>
                                                    <option th:value="203435">2034-35</option>
                                                    <option th:value="203536">2035-36</option>
                                                    <option th:value="203637">2036-37</option>
                                                    <option th:value="203738">2037-38</option>
                                                    <option th:value="203839">2038-39</option>
                                                    <option th:value="203940">2039-40</option>
                                                    <option th:value="204041">2040-41</option>

                                                </select>
                                            </div>
                                        </div>
                                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
                                        <input class="btn btn-lg btn-primary btn-block" type="reset" value="Reset">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </section>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script th:src="@{/Asset/dist/js/bootstrap.min.js}"></script>

<script th:src="@{/Asset/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/Asset/js/custom.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>

</body>
</html>
