<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title th:text="${courseCodeDelete} != '000' ? ${courseCodeDelete} : 'Add new Course'"></title>

    <link th:href="@{/Asset/dist/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/Asset/css/font-awesome.css}" rel="stylesheet">

    <link th:href="@{/Asset/css/style.css}" rel="stylesheet">

</head>
<body>
<div class="container-fluid" id="wrapper">
    <div class="row">
        <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
            <h1 class="site-title"><a href="index.html"><em class="fa fa-rocket"></em>Welcome</a></h1>

            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
            <ul class="nav nav-pills flex-column sidebar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{'/teacher/login/' + ${user.email}}"><em
                    class="fa fa-dashboard"></em>
                    Dashboard</a></li>
            </ul>

            <a th:href="@{/login}" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>
        <main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
            <header class="page-header row justify-center">
                <div class="col-md-6 col-lg-8">
                    <h4 class="float-left text-center text-md-left">Course Details</h4>
                </div>
                <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a
                    class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img th:src="@{/Asset/images/profilePic.png}" alt="profile photo"
                         class="circle float-left profile-photo" width="50" height="auto">
                    <div class="username mt-1">
                        <h4 class="mb-1" th:text="${teacher.fullName}"></h4>
                    </div>
                </a>
                    <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;"
                         aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href="#"><em
                        class="fa fa-user-circle mr-1"></em> View Profile</a>
                        <a class="dropdown-item" th:href="@{/login}"><em class="fa fa-power-off mr-1"></em> Logout</a>
                    </div>
                </div>
                <div class="clear"></div>
            </header>
            <section class="row">
                <div class="col-sm-12">
                    <section class="row">
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <table class="table table-bordered table-striped">
                                        <tr class="table-warning">
                                            <td><b>Course Code</b></td>
                                            <td><b>:</b></td>
                                            <td th:text="${course.courseCode}"></td>
                                            <td><b>Credit</b></td>
                                            <td><b>:</b></td>
                                            <td th:text="${course.courseCredit}"></td>
                                        </tr>
                                        <tr>
                                            <td><b>Title</b></td>
                                            <td><b>:</b></td>
                                            <td th:text="${course.courseTitle}"></td>
                                            <td><b>Prerequisite</b></td>
                                            <td><b>:</b></td>
                                            <td th:text="${course.prerequisite}"></td>
                                        </tr>
                                        <tr>
                                            <td><b>Type</b></td>
                                            <td><b>:</b></td>
                                            <td th:text="${course.courseType}"></td>
                                            <td><b>Contact Hours</b></td>
                                            <td><b>:</b></td>
                                            <td th:text="${course.contactHours} == '0' ? '-' : ${course.contactHours}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="row" th:if="${#strings.length(course.rational)} > 0">
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Rationale</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:text="${course.rational}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="row" th:if="${course.courseObjectives.getCount()} > 0">
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th th:text="(${course.courseType} == 'Laboratory' ? 'Lab' : 'Course') + ' Objectives'"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <ul th:each="courseObj : ${course.courseObjectives.courseObjective}">
                                                    <li th:text="${courseObj.objective}"></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="row" th:if="${course.learningOutcomes.getCount()} > 0">
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th th:text="(${course.courseType} == 'Laboratory' ? 'Lab' : 'Course') + ' Outcomes'"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <p>After successful completion of this course, students will be able
                                                    to-</p>
                                                <ul th:each="learningOutcome : ${course.learningOutcomes.learningOutcome}">
                                                    <li th:text="${learningOutcome.outcome}"></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="row" th:if="${course.courseDescriptions.getCount()} > 0">
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th th:text="(${course.courseType} == 'Laboratory' ? 'Lab Course' : 'Course') + ' Description'"></th>
                                        </tr>
                                        <tr>
                                            <th th:text="'Title and Descriptions'"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="courseDescription : ${course.courseDescriptions.courseDescription}">
                                            <td>
                                                <h4 th:text="${courseDescription.title}"
                                                    th:if="${#strings.length(courseDescription.title)} > 0"></h4>
                                                <p th:text="${courseDescription.description}"
                                                   th:if="${#strings.length(courseDescription.description)} > 0"></p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="row" th:if="${course.laboratoryRequirements.getCount()} > 0">
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th th:text="'Hardware and Software Requirements'"></th>
                                        </tr>
                                        <tr>
                                            <th th:text="'H/W Requirements'"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:each="laboratoryRequirements : ${course.laboratoryRequirements.laboratoryRequirement}">
                                                <h4 th:text="${laboratoryRequirements.title}"
                                                    th:if="${#strings.length(laboratoryRequirements.title)} > 0"></h4>
                                                <p th:text="${laboratoryRequirements.requirement}"
                                                   th:if="${#strings.length(laboratoryRequirements.requirement)} > 0"></p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="row" th:if="${course.books.getCount()} > 0">
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th colspan="5" th:text="'Recommended Books'"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="book : ${course.books.books}">
                                            <td th:text="${book.bookName}"></td>
                                            <td th:text="${book.authors}"></td>
                                            <td th:text="${book.edition}"></td>
                                            <td th:text="${book.publisher}"></td>
                                            <td th:text="${book.publishYear}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script th:src="@{/Asset/dist/js/bootstrap.min.js}"></script>

<script th:src="@{/Asset/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/Asset/js/custom.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>

</body>
</html>
